.vscode/**
.vscode-test/**
.vscode-test.mjs
.claude/**
.github/**
.idea/**
.bashrc
.bash_profile
.profile
.zshrc
.zprofile
.gitconfig
.gitmodules
.mcp.json
.ripgreprc
src/**
out/test/**
.gitignore
.yarnrc
CLAUDE.md
vsc-extension-quickstart.md
eslint.config.mjs
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
